
services:

  postgres:
    container_name: hydrosat-postgres
    image: postgres:16.4-bullseye
    shm_size: 1g
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - PGDATA=/var/lib/postgresql/data
    volumes:
      - ./data/postgres/data/:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "data"]
      interval: 10s
      timeout: 8s
      retries: 5


volumes:
  postgres-data:
    driver: local

